# University Weighted Mean Calculator

Let's create a simple notebook to calculate the average of your grades!

University's grades are weighted with respect to CFU (crediti formativi universitari [in Italy at least]), so we need to develop a solution that keep track of each weight for each class.

First of all, we need to import the libraries that we'll use

In [16]:
import pandas as pd
import numpy as np

In this second version, we'll first read the data from a CSV file and the compute the result

In [17]:
df_uni = pd.read_csv('sample-df_uni.csv')

Let's print our dataframe

In [18]:
df_uni

  className  score  CFU
0    classA     20   12
1    classB     30    6

And finally, the magic formula!

In [19]:
def weighted_average_uni(score, cfu):
    numerator = sum([score[i]*cfu[i] for i in range(len(score))])
    denominator = sum(cfu)
    return round(numerator/denominator,2)

In [20]:
weighted_average_uni(score=df_uni['score'], cfu=df_uni['CFU'])

23.33